services:
  postgres:
    image: postgres:16
    container_name: gestion-flotas-postgres
    restart: always
    environment:
      POSTGRES_DB: flotasdb
      POSTGRES_USER: arkho
      POSTGRES_PASSWORD: arkho1234
    ports:
       - "5432:5432"
    volumes:
       - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: flotas-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
       - "9090:80"
    depends_on:
        - postgres
   
volumes:
  postgres_data: